@model CarShare.Data.Reservation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickUpLocationLongitute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickUpLocationLongitute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickUpLocationLatitue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickUpLocationLatitue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnLocationLongitute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnLocationLongitute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnLocationLatitue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnLocationLatitue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickUpDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickUpDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickUpTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickUpTime)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DropOffTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DropOffTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
